/Praktikum3/praktek3/target/
/Praktikum3/FormattingOutput/target/
/Praktikum4/Barang/target/
/Praktikum4/Inventori/nbproject/private/
/Praktikum4/Inventori/build/
/Praktikum4/UpinIpin/nbproject/private/
/Praktikum4/UpinIpin/build/
/Praktikum4/KelasDua/nbproject/private/
/Praktikum4/KelasDua/build/
