/Praktikum3/praktek3/target/
/Praktikum3/FormattingOutput/target/
/Praktikum4/Barang/target/
/Praktikum4/Inventori/nbproject/private/
/Praktikum4/Inventori/build/
/Praktikum4/UpinIpin/nbproject/private/
/Praktikum4/UpinIpin/build/
/Praktikum4/KelasDua/nbproject/private/
/Praktikum4/KelasDua/build/
/Praktikum5/RestaurantMain/nbproject/private/
/Praktikum5/RestaurantMain/build/
/Praktikum5/RestaurantMain2/build/
/Praktikum5/RestaurantMain2/nbproject/private/
/Praktikum5/RestaurantMain_2/nbproject/private/
/Praktikum5/RestaurantMain_2/build/
/Praktikum5/RestaurantMainCleanCode/nbproject/private/
/Praktikum5/RestaurantMainCleanCode/build/
/Praktikum5/Kasus2/nbproject/private/
/Praktikum5/Kasus2/build/
/Praktikum5/Kasus2CleanCode/nbproject/private/
/Praktikum5/Kasus2CleanCode/build/
